.panel-layout {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.panel {
    &.left-panel {
        flex: 1;
        min-width: 0;
        background-color: #f0f0f0;
    }
    
    &.right-panel {
        width: 440px;
        min-width: 440px;
        max-width: 440px;
    }
}